body {
  padding:0px;
  margin: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
div {
  display: block;
}
.gradient {
  background: -webkit-linear-gradient(top, rgb(212, 220, 230) 0%, rgb(162, 182, 206) 100%);
  background: -o-linear-gradient(top, rgb(212, 220, 230) 0%, rgb(162, 182, 206) 100%);
  background: -ms-linear-gradient(top, rgb(212, 220, 230) 0%, rgb(162, 182, 206) 100%);
  background: -moz-linear-gradient(top, rgb(212, 220, 230) 0%, rgb(162, 182, 206) 100%);
  background: linear-gradient(to bottom, rgb(212, 220, 230) 0%, rgb(162, 182, 206) 100%);
}
.red-gradient
{
  background: -webkit-linear-gradient(top, rgb(140, 107, 103) 0%, rgb(213, 167, 162) 6%, rgb(209, 137, 130) 53%, rgb(177, 67, 56) 65%, rgb(191, 115, 102) 100%);
  background: -o-linear-gradient(top, rgb(140, 107, 103) 0%, rgb(213, 167, 162) 6%, rgb(209, 137, 130) 53%, rgb(177, 67, 56) 65%, rgb(191, 115, 102) 100%);
  background: -ms-linear-gradient(top, rgb(140, 107, 103) 0%, rgb(213, 167, 162) 6%, rgb(209, 137, 130) 53%, rgb(177, 67, 56) 65%, rgb(191, 115, 102) 100%);
  background: -moz-linear-gradient(top, rgb(140, 107, 103) 0%, rgb(213, 167, 162) 6%, rgb(209, 137, 130) 53%, rgb(177, 67, 56) 65%, rgb(191, 115, 102) 100%);
  background: linear-gradient(to bottom, rgb(140, 107, 103) 0%, rgb(213, 167, 162) 6%, rgb(209, 137, 130) 53%, rgb(177, 67, 56) 65%, rgb(191, 115, 102) 100%);
}
#conteiner {
  background: -webkit-linear-gradient(top, rgb(216, 235, 255) 0%, rgb(207, 232, 255) 56%, rgb(189, 222, 255) 100%);
  background: -o-linear-gradient(top, rgb(216, 235, 255) 0%, rgb(207, 232, 255) 56%, rgb(189, 222, 255) 100%);
  background: -ms-linear-gradient(top, rgb(216, 235, 255) 0%, rgb(207, 232, 255) 56%, rgb(189, 222, 255) 100%);
  background: -moz-linear-gradient(top, rgb(216, 235, 255) 0%, rgb(207, 232, 255) 56%, rgb(189, 222, 255) 100%);
  background: linear-gradient(to bottom, rgb(216, 235, 255) 0%, rgb(207, 232, 255) 56%, rgb(189, 222, 255) 100%);
  border-radius: 10px;
  vertical-align: center;
  width: 480px;
  padding-bottom: 1px;
}
  header > img {
    position: relative;
    padding-left:  14px;
    vertical-align: middle;
  }
  header > p {
    padding-left: 5px;
    line-height: 40px;
    display: inline;
    
  }
  #icons {
    vertical-align: top;
    float: right;
    cursor: pointer;
  }
 #main {
   margin: 0px 10px 10px 10px;
   border: 2px solid gray;
   border-radius:5px;

   background-image: -webkit-gradient(linear, 0 359, 0 0, color-stop(0.774, #d9e4f1), to(#ecf3fc));
   background-image: -webkit-linear-gradient(90deg, #d9e4f1 77.4%, #ecf3fc);
   background-image: -moz-linear-gradient(90deg, #d9e4f1 77.4%, #ecf3fc);
   background-image: -o-linear-gradient(90deg, #d9e4f1 77.4%, #ecf3fc);
   background-image: linear-gradient(0deg, #d9e4f1 77.4%, #ecf3fc);
 }   
  #nav {
    border-bottom: 1px solid gray;
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(217, 223, 240) 67%, rgb(227, 232, 248) 100%);
    background: -o-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(217, 223, 240) 67%, rgb(227, 232, 248) 100%);
    background: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(217, 223, 240) 67%, rgb(227, 232, 248) 100%);
    background: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(217, 223, 240) 67%, rgb(227, 232, 248) 100%);
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(217, 223, 240) 67%, rgb(227, 232, 248) 100%);
  }
    #nav a {
      display: inline-block;
      text-decoration: none;
      color:black;
      font-size: 0.8em;
      padding-left: 8px;
   }
      #nav a::first-letter {
        text-decoration: underline;
   }
  #score {
    margin: 10px;
    text-align: right;
    vertical-align: bottom;
    font-size: 2em;
    line-height: 2em;
    border: 2px solid gray;
    border-radius:6px;
    padding-right: 10px;
    background: -webkit-linear-gradient(71deg, rgb(254, 255, 255) 0%, rgb(233, 241, 251) 100%);
    background: -o-linear-gradient(71deg, rgb(254, 255, 255) 0%, rgb(233, 241, 251) 100%);
    background: -ms-linear-gradient(71deg, rgb(254, 255, 255) 0%, rgb(233, 241, 251) 100%);
    background: -moz-linear-gradient(71deg, rgb(254, 255, 255) 0%, rgb(233, 241, 251) 100%);
    background: linear-gradient(19deg, rgb(254, 255, 255) 0%, rgb(233, 241, 251) 100%);
  }
  #bits {
    text-align: right;
    border: 2px solid gray;
    margin:10px;
    font-family: console;
    border-radius:6px;
  }
    #bits table {
      margin: 6px;
      border-spacing: 0;
     }
     #bits table td {
       padding-right: 17px;
     }
     #bits table tr:nth-child(2n-1) {
       color:#536786;
     }
     #bits table tr:nth-child(2n-1) td{
       cursor: pointer;
     }
     #bits table tr:nth-child(2n) {
       color:gray;
     }
 #control {
   margin: 10px;
   font-size: 0.7em
 }
      #control #buttons {
        border-collapse: separate;
        border-spacing: 5px;
      }
        #buttons td {
          width: 36px;
          height: 30px;
          text-align: center;
           border-radius: 2px;
           cursor: pointer;
        }
        #buttons .radio{
          font-size: 0.9em;
          width: 78px;
          height: 110px;
          line-height: 2em;
        }
        #buttons .radio input[type=radio] {
            display: none;
          }
          #buttons .radio label {
            display: block;
            clear:none;
            float:left;
            cursor: pointer;
          }
            #buttons .radio input[type=radio]:checked + label {
              padding: 0px 0px 0px 20px;
              background-image: url(images/checked.png);
              background-repeat: no-repeat;
              background-position-y: 2px;
              margin-left: 5px;
              clear:both;
            }
            #buttons .radio input[type=radio] + label {
              padding: 0px 0px 0px 20px;
              background-image: url(images/unchecked.png);
              background-repeat: no-repeat;
              background-position-y: 2px;
              margin-left: 5px;
              clear:both;
            }
          #buttons td.darker {
            background: -webkit-linear-gradient(top, rgb(239, 245, 251) 0%, rgb(214, 225, 239) 95%, rgb(214, 225, 239) 100%);
            background: -o-linear-gradient(top, rgb(239, 245, 251) 0%, rgb(214, 225, 239) 95%, rgb(214, 225, 239) 100%);
            background: -ms-linear-gradient(top, rgb(239, 245, 251) 0%, rgb(214, 225, 239) 95%, rgb(214, 225, 239) 100%);
            background: -moz-linear-gradient(top, rgb(239, 245, 251) 0%, rgb(214, 225, 239) 95%, rgb(214, 225, 239) 100%);
            background: linear-gradient(to bottom, rgb(239, 245, 251) 0%, rgb(214, 225, 239) 95%, rgb(214, 225, 239) 100%);
            border:1px solid #97A5B5;
          }
          #buttons td.yellow {
            background: -webkit-linear-gradient(top, rgb(254, 243, 232) 0%, rgb(252, 225, 188) 48%, rgb(251, 208, 115) 52%, rgb(251, 235, 142) 100%);
            background: -o-linear-gradient(top, rgb(254, 243, 232) 0%, rgb(252, 225, 188) 48%, rgb(251, 208, 115) 52%, rgb(251, 235, 142) 100%);
            background: -ms-linear-gradient(top, rgb(254, 243, 232) 0%, rgb(252, 225, 188) 48%, rgb(251, 208, 115) 52%, rgb(251, 235, 142) 100%);
            background: -moz-linear-gradient(top, rgb(254, 243, 232) 0%, rgb(252, 225, 188) 48%, rgb(251, 208, 115) 52%, rgb(251, 235, 142) 100%);
            background: linear-gradient(to bottom, rgb(254, 243, 232) 0%, rgb(252, 225, 188) 48%, rgb(251, 208, 115) 52%, rgb(251, 235, 142) 100%);
            border:1px solid #E9D95D;
          }
          #buttons td.lighter {
            background-image: -webkit-gradient(linear, 0 0, 0 495.125, color-stop(0.02, #f7fbff), to(#eaf1f8));
            background-image: -webkit-linear-gradient(#f7fbff 2%, #eaf1f8);
            background-image: -moz-linear-gradient(#f7fbff 2%, #eaf1f8);
            background-image: -o-linear-gradient(#f7fbff 2%, #eaf1f8);
            background-image: linear-gradient(#f7fbff 2%, #eaf1f8);
            border:1px solid #97A5B5;
          }
          #buttons td.gray, #buttons td.radio{
            border:1px solid gray;
          }
            #buttons td.lighter div ,#buttons td.darker div ,#buttons td.yellow div {
              line-height: 26px;
              height: 100%;
              border: 1px solid white;
              border-radius: 2px;
            }
            #buttons #equal div {
              line-height: 65px;
            }